form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}z

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}
